body {
    margin: 5;
    background-color: #bdbdbd;
    font-family: 'Lucida Sans';
}

.notebook{
    background-color: white;
    
    padding: 5px;
}

.notebook-title {
    font-weight: bold;
    padding: 10px;
}

.notebook-cell {
    margin: 0px 15px 15px 15px;
    border: 1px solid #e0e0e0;
}

.notebook-cell:hover {
    border-left: solid 2px #2196f5;
}

#notebook-show-data table {
    
    border: solid 1px #bdbdbd;

}

#notebook-show-data  {
    margin: 5px 15px;
    text-align: right;
}

#notebook-show-data tr:nth-child(even) {
    background-color: #f5f5f5;
}

#notebook-show-data p {
    color: #64423d;
    background-color: #f2dedf;
    text-align: left;
    font-weight: bold;
    padding: 10px;
}